{% extends 'base.html.twig' %}

{% form_theme form 'jquery.collection.html.twig' %}

{% block body %}
    {{ form_start(form) }}

    <div class="col-sm-6" style="margin-bottom:10px;">
        {{ form_row(form.title) }}
    </div>

    {%  block collection_widget %}
        {{ form_row(form.questions) }}
    {% endblock %}

    <button class="btn">{{ button_label|default('Save') }}</button>

    {{ form_end(form) }}
{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/js/jquery.collection.js') }}"></script>
    <script src="{{ asset('bundles/app/js/quiz.js') }}"></script>
{% endblock %}